---
---

@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Chewy);

$midnight-blue: #2c3e50;
$red: #c10000;
$orange: #d35400;
$blue: #0d3088;
$yellow: #ffc400;
$black: #000;

body {
  font-size: 12px;
  h1, h2, h3, h4, h5, h6, .title, .strong{
    font-family: "Chewy";
  }
}

footer {
  background: white;
}

.title {
  font-size: 28px;
  color: $midnight-blue;
}

#navigation {
  background-color: white;
  border-style: groove;
}

.home {
  min-height: 100vh;
  .main { background: url('/images/kids.png') rgba(250,225,135,0.75) center; }
  .jumbotron {
    margin-top: 10px;
    min-height: 85vh;
    background: none;
  }

  .sec-1, .sub {
    background-color: rgba(193,0,0,0.9);
    .jumbotron { background-color: white; }
  }
  .sec-2, .sec-4 {
    background-color: rgba(255,196,0,0.85);
    .jumbotron { background: none; }
  }
  .sec-3 {
    background-color: rgba(13,48,136,0.9);
    .jumbotron { background: none; }
    .table { background: white; color: $black; border-radius: 12px; }
  }

  .info {
    address {
      strong { color: $black; font-size: 16px;}
      i { color: $black; }
      .web, .facebook, .email { color: $blue; }
      .address { color: $red; }
    }
  }

  .tagline p {
    font-size: 17px;
    color: $black;
  }

  .mission-vision {
    p {
      font-size: 14px;
      color: #222;
      strong {
        font-size: 24px;
        font-family: "Chewy";
        color: $red;
      }
    }
  }

  .admission {
    padding: 0px 30px 0px 30px;
    color: white;
    div { font-size: 12px; }
    h2, i { color: $yellow; }
    h4 { color: $blue; }
  }

  .facilities, .activities {
    min-height: 30vh;
    border-radius: 6px;
    background-color: white;
    color: $black;
    padding-top: 10px;
    padding-bottom: 20px;
    h2 { color: $red; }
    ul li { padding-top: 5px; padding-bottom: 5px; }
  }
}
