@import url(http://fonts.googleapis.com/css?family=Chewy);
body {
  font-size: 12px; }
  body h1, body h2, body h3, body h4, body h5, body h6, body .title, body .strong {
    font-family: "Chewy"; }

footer {
  background: white; }

.title {
  font-size: 28px;
  color: #2c3e50; }

#navigation {
  background-color: white;
  border-style: groove; }

.home {
  min-height: 100vh; }
  .home .main {
    background: url("/images/kids.png") rgba(250, 225, 135, 0.75) center; }
  .home .jumbotron {
    margin-top: 10px;
    min-height: 85vh;
    background: none; }
  .home .sec-1, .home .sub {
    background-color: rgba(193, 0, 0, 0.9); }
    .home .sec-1 .jumbotron, .home .sub .jumbotron {
      background-color: white; }
  .home .sec-2, .home .sec-4 {
    background-color: rgba(255, 196, 0, 0.85); }
    .home .sec-2 .jumbotron, .home .sec-4 .jumbotron {
      background: none; }
  .home .sec-3 {
    background-color: rgba(13, 48, 136, 0.9); }
    .home .sec-3 .jumbotron {
      background: none; }
    .home .sec-3 .table {
      background: white;
      color: #000;
      border-radius: 12px; }
  .home .info address strong {
    color: #000;
    font-size: 16px; }
  .home .info address i {
    color: #000; }
  .home .info address .web, .home .info address .facebook, .home .info address .email {
    color: #0d3088; }
  .home .info address .address {
    color: #c10000; }
  .home .tagline p {
    font-size: 17px;
    color: #000; }
  .home .mission-vision p {
    font-size: 14px;
    color: #222; }
    .home .mission-vision p strong {
      font-size: 24px;
      font-family: "Chewy";
      color: #c10000; }
  .home .admission {
    padding: 0px 30px 0px 30px;
    color: white; }
    .home .admission div {
      font-size: 12px; }
    .home .admission h2, .home .admission i {
      color: #ffc400; }
    .home .admission h4 {
      color: #0d3088; }
  .home .facilities, .home .activities {
    min-height: 30vh;
    border-radius: 6px;
    background-color: white;
    color: #000;
    padding-top: 10px;
    padding-bottom: 20px; }
    .home .facilities h2, .home .activities h2 {
      color: #c10000; }
    .home .facilities ul li, .home .activities ul li {
      padding-top: 5px;
      padding-bottom: 5px; }
