---
layout: index
---

<div class="home container-fluid">
  <div class="row main">
    <div class="col-xs-12 col-md-4 sec-1">
      <div class="jumbotron">
        <div class="container">
          {% include index/info.html %}
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 sec-2">
      <div class="jumbotron">
        <div class="container tagline">
          <p class="strong text-center"><i class="fa fa-3x fa-child"></i> As the children begin to develop trust and confidence, their development are influenced by the experiences they get from their environment hence they should be given consistent nurturance, sensory stimulation, and a good role model.</p>
        </div>

        <hr/>
        {% include index/mission-vision.html %}

      </div>
    </div>

    <div class="col-xs-12 col-md-4 sec-3">
      <div class="jumbotron admission">
        <div class="row">
          {% include index/admission.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="jumbotron tagline">
          <div class="row">
            <div class="col-md-4">
              <h2>Facilities</h2>
                <ul>
                  <li>Airconditioned classrooms</li>
                  <li>Computer with internet connection</li>
                  <li>Reading Areas</li>
                  <li>Playgrounds</li>
                </ul>
            </div>
            <div class="col-md-8">
              {% include index/facilities.html %}
            </div>

          </div>

        </div>
    </div>
    <div class="col-xs-12 col-md-6">

      <div class="jumbotron tagline">
          <div class="row">
            <div class="col-md-4">
              <h2>School Activities</h2>
                <ul>
                  <li>Field Trip</li>
                  <li>Sports Fest</li>
                  <li>NutriCamp</li>
                  <li>Little Mr. & Ms. United Nations</li>
                  <li>National Language Week</li>
                  <li>Get Together Party</li>
                  <li>Medical and Dental Check-up</li>
                </ul>
            </div>
            <div class="col-md-8">
              {% include index/facebook.html %}
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
