<style type="text/css">
  #ratio { margin-block-start: 2em; }
  #admission {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
</style>
<div class="pure-g">
  <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-2-3" id="ratio">
    <blockquote><i class="fas fa-quote-left fa-1x" aria-hidden="true"></i> Minimum number of students for Maximum Learning <i class="fas fa-quote-right fa-1x" aria-hidden="true"></i></blockquote>
    <blockquote> (6:1) </blockquote>
  </div>
  <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-3" id="admission">
    <p>Our courses, having <b>student-teacher ratio 6:1</b>, ensures that your child is getting the dedicated guidance he deserves.</p>
    <p> Enroll your child now as we have limited slots</p>
    <h2> Admission </h2>
    {% assign sorted = (site.courses | sort: 'index') %}
    <ul class="fa-ul">
      {% for course in sorted %}
        <li>
          <span class="fa-li"><i class="fas fa-check-square fa-sm" aria-hidden="true"></i></span>
          {{ course.title }} - {{ course.age }}
        </li>
      {% endfor %}
    </ul>
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i class="fas fa-check-square fa-sm" aria-hidden="true"></i></span>
        PSA Birth Certificate
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check-square fa-sm" aria-hidden="true"></i></span>
        1x1 Photo
      </li>
    </ul>
    <small>
      <i class="fas fa-dot-circle" aria-hidden="true"></i>
      Cash Payment Only
    </small>
    <br/>
    <small>
      <a href="https://cleverminds.ph/payment-modes-2020-21.html" target="_blank">
        <i class="fas fa-wallet" aria-hidden="true"></i>
        Available Payment Modes
        <i class="fas fa-external-link-alt fa-xs" aria-hidden="true"></i>
      </a>
    </small>
  </div>
</div>
