<p>
  For your inquiries & suggestions, it is faster to reach us via call/SMS at <abbr title="Phone"><i class="fa fa-phone" aria-hidden="true"></i>{{ site.phone }}</abbr>
</p>
<p>
  You may also chat us at <a href="{{ site.facebook }}" target="_blank">Messenger <i class="facebook fab fa-facebook-messenger" aria-hidden="true"></i></a>
</p>
<p>
  Visit us! We are open every <strong>Monday - Friday 8am-6pm</strong>. For weekend visits, kindly give us a call first before dropping by. 
</p>

<p>
  <a href="https://www.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Clever+Minds+Development+Center&aq=&sll=14.204087,121.161819&sspn=0.011607,0.021136&ie=UTF8&hq=Clever+Minds+Development+Center&hnear=&t=m&ll=14.209891,121.160231&spn=0.012481,0.012875&z=15&iwloc=A" target="_blank">
    Find us at Google Maps <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
  </a>
</p>
