<section class="page-header">
  <a id="logo-container" href="/" class="brand-logo">
    <img src="{{ "/images/logo2.png" | prepend: site.baseurl }}" alt="cmdc logo" class="img-responsive img-circle" height="150"/>
  </a>
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 style="color:#444;">
    {{ site.description | default: site.github.project_tagline }} </h2>
  <h3 class="project-tagline">
    Courses: Toddlers, Nursery, Pre-Kindergarten, Kindergartens <br/> Tutorials & Summer Classes
    <br/>
    Minimum number of students for maximum learning
  </h3>
  <a href="#courses" class="btn pure-button pure-button-primary" style="font-size:125%;background-color:#64b5f6;">
    <i class="fa fa-newspaper-o"></i> Browse
    <br/>Courses
  </a>
  <a href="#enroll" class="btn pure-button pure-button-primary" style="font-size:125%;font-weight:bold;">
      <i class="fa fa-graduation-cap"></i> Enroll
      <br/>Now!
  </a>
  <a href="#contact" class="btn pure-button pure-button-primary" style="font-size:125%;background-color:#64b5f6;">
    <i class="fa fa-phone"></i> Talk to Us
    <br/> 63 (49) 545 9201
  </a>
</section>
