<div class="video-container no-controls">
  <iframe frameborder="0"
  marginheight="0" marginwidth="0" scrolling="no" class="pure-u-1"
  src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Clever+Minds+Development+Center&amp;aq=&amp;sll=14.204087,121.161819&amp;sspn=0.011607,0.021136&amp;ie=UTF8&amp;hq=Clever+Minds+Development+Center&amp;hnear=&amp;t=m&amp;ll=14.209891,121.160231&amp;spn=0.012481,0.012875&amp;z=15&amp;iwloc=A&amp;output=embed" style="min-height:300px;">
  </iframe>
  <br />
  <small>
    <a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Clever+Minds+Development+Center&amp;aq=&amp;sll=14.204087,121.161819&amp;sspn=0.011607,0.021136&amp;ie=UTF8&amp;hq=Clever+Minds+Development+Center&amp;hnear=&amp;t=m&amp;ll=14.209891,121.160231&amp;spn=0.012481,0.012875&amp;z=15&amp;iwloc=A" style="color:#333;text-decoration: underline;">
      View Larger Map
    </a>
  </small>
</div>