<style type="text/css">
  nav { text-align: center; }
  nav a {
    margin: auto;
    padding: 1em 0em;
  }
</style>

<nav class="pure-g">
  <a href="{{ site.url }}"class="pure-u-1 pure-u-lg-2-6">
    {% include logo.html %}
    Clever Minds Development Center
  </a>
  <a href="{{site.url}}/#contact"class="pure-u-1-4 pure-u-lg-1-6 pure-button">
    Enroll Now
  </a>
  <a href="{{site.url}}/#courses" class="pure-u-1-4 pure-u-lg-1-6 pure-button">
    Courses
  </a>
  <a href="{{site.url}}/#about" class="pure-u-1-4 pure-u-lg-1-6 pure-button">
    About
  </a>
  <a href="{{site.url}}/#contact" class="pure-u-1-4 pure-u-lg-1-6 pure-button">
    Contact
  </a>
  <!-- <a href="https://www.facebook.com/cmdcph/" target="_blank" class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-6">
    <i class="facebook fa fa-facebook-square"></i>
  </a> -->
</nav>
