<section style="color: #01003e;
    text-align: center;
    background-color: #ffd54f;
    background-image: linear-gradient(0deg, #fdef3c, #ffd54f);">
  <a id="logo-container" href="/" class="brand-logo">
    <img src="{{ "/images/logo2.png" | prepend: site.baseurl }}" alt="cmdc logo" class="img-responsive img-circle" height="75" style="vertical-align: middle;"/>
    <span style="font-size:120%">
      <b> {{ site.title }} </b> <br/>
    </span>
  </a>
  <p style="font-weight:400;">
    Courses: Toddlers, Nursery, Pre-Kindergarten, Kindergartens <br/> Tutorials & Summer Classes
  </p>

  <div class="pure-g">
    <section class="pure-u-1 pure-u-md-1-3" style="background-color:#64b5f6;">
      <a href="../#courses" style="color:white;background-color:#64b5f6;">
        <i class="fa fa-newspaper-o"></i> Browse Courses
      </a>
    </section>
    <section class="pure-u-1 pure-u-md-1-3" style="background-color:#0070D7;">
      <a href="../#enroll" style="color:white;font-weight:bold;">
          <i class="fa fa-graduation-cap"></i> Enroll Now!
      </a>
    </section>
    <section class="pure-u-1 pure-u-md-1-3" style="background-color:#64b5f6;">
      <a href="../#contact" style="color:white;background-color:#64b5f6;">
        <i class="fa fa-phone"></i> Talk to Us
        63 (49) 545 9201
      </a>
    </section>
  </div>
</section>
