// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #01003e;
$header-bg-color: #ffd54f;
$header-bg-color-secondary: #fdef3c;

// Text
$section-headings-color: #01003e;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #444;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #ffeb3b;
$table-border-color: #e9ebec;
$hr-border-color: #ffeb3b;
