<h2> School Activities</h2>
  <ul class="fa-ul">
    <li>
      <i class="fa-li fa fa-bus"></i>
      Field Trip
    </li>
    <li>
      <i class="fa-li fa fa-soccer-ball-o"></i>
      Sports Fest
    </li>
    <li>
      <i class="fa-li fa fa-cutlery"></i>
      NutriCamp
    </li>
    <li>
      <i class="fa-li fa fa-flag"></i>
      Little Mr. & Ms. United Nations
    </li>
    <li>
      <i class="fa-li fa fa-language"></i>
      National Language Week
    </li>
    <li>
      <i class="fa-li fa fa-group"></i>
      Get Together Party
    </li>
    <li>
      <i class="fa-li fa fa-medkit"></i>
      Medical and Dental Check-up
    </li>
  </ul>