<h2>Student Admission</h2>
<div class="col-md-12">
  <strong>Requirements: </strong>
  <br/>
      <i class="fa fa-check-square"></i> Birth Certificate

      <i class="fa fa-check-square"></i> 1x1 ID picture (2)
  <br/>
  <br/>

  <strong> Additional for transferees: </strong>
  <br/>
    <i class="fa fa-check-square"></i> Previous Report Card

    <i class="fa fa-check-square"></i> Good Moral Certificate
  </ul>

  <br/>
  <br/>
</div>

<table class="table">
  <tr>
    <td>
      <img src="{{ "/images/003.png" | prepend: site.baseurl }}" alt="prep" class="img-responsive img-circle"/>
    </td>
    <td>
      <h4>Preparatory</h4>
      5 to 5½ years old
    </td>
  </tr>
  <tr>
    <td>
      <img src="{{ "/images/004.png" | prepend: site.baseurl }}" alt="kinder" class="img-responsive img-circle"/>
    </td>
    <td>
      <h4>Kinder</h4>
      4 to 5 years old
    </td>
  </tr>
  <tr>
    <td>
      <img src="{{ "/images/005.png" | prepend: site.baseurl }}" alt="nursery" class="img-responsive img-circle"/>
    </td>
    <td>
      <h4>Nursery</h4>
      3½ to 4 years old
    </td>
  </tr>
</table>