<div class="col-xs-12 col-sm-6 col-md-12">
  <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="logo" class="img-responsive img-circle"/>
</div>

<div class="col-xs-12 col-sm-6 col-md-12 info">
  <address>
    <strong> Clever Minds Development Center </strong> <br/>
    <abbr title="Address"><i class="address glyphicon glyphicon-map-marker fa fa-map-marker"></i></abbr> 352 Sitio Lote, Brgy. Lecheria<br/>
    Calamba City, Laguna<br/>
    Philippines 4027<br/>
    <abbr title="Business Hours"><i class="glyphicon glyphicon-time fa fa-clock-o"></i></abbr> Monday - Friday, 9 AM to 6 PM<br/>
    <abbr title="Phone"><i class="glyphicon glyphicon-phone-alt fa fa-phone"></i></abbr> +63 (49) 545 9201<br/>
    <abbr title="Website"><i class="web glyphicon glyphicon-globe fa fa-globe"></i></abbr> <a href="http://cmdcph.com">cmdcph.com</a><br/>
    <abbr title="Email"><i class="email glyphicon glyphicon-envelope fa fa-envelope"></i></abbr> <a href="mailto:cmdc.ph@gmail.com">cmdc.ph@gmail.com</a><br/>
    <abbr title="facebook"><i class="facebook fa fa-facebook-square"></i></abbr> <a href="http://www.facebook.com/cmdcph" target="_blank">cmdcph</a>
  </address>
</div>

<div class="col-xs-12 hidden-print">
  {% include index/map.html %}
</div>