<div class="mission-vision row">
  <div class="col-md-12">
    <p class="text-center"><strong>Mission</strong> We are committed in providing the community a well-organized environment that supports and nurtures young children’s intellectual, social, physical, and emotional development. We would like to help children in adjusting to an environment outside the nuclear family. We devote ourselves in providing a good place where parents can safely put their children.</p>

    <p class="text-center"><strong>Vision</strong> We foresee Clever Minds Development Center to be a part in building a strong community through dedicated training and guidance of children.</p>
  </div>
</div>
