<nav class="navbar navbar-default navbar-fixed-bottom" id="navigation" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true">
        <span class="glyphicon glyphicon-equalizer"> Facebook Updates</span>
      </button>

      <a class="navbar-brand" href="#">
        <span class="title">{{ site.title }}</span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="col-md-12">
        {% include index/facebook.html %}
      </div>
    </div>
  </div>
</nav>
