<div class="home container-fluid">
  <div class="row main">
    <div class="col-xs-4 col-sm-12 col-md-4 sec-1">
      <div class="jumbotron">
        <div class="container">
          {% include index/info.html %}
        </div>
      </div>
    </div>

    <div class="col-xs-4 col-sm-12 col-md-4 sec-2">
      <div class="jumbotron">
        <div class="container tagline">
          <p class="strong text-center"><i class="fa fa-3x fa-child"></i> As the children begin to develop trust and confidence, their development are influenced by the experiences they get from their environment hence they should be given consistent nurturance, sensory stimulation, and a good role model.</p>
        </div>

        <hr/>
        {% include index/mission-vision.html %}

      </div>
    </div>

    <div class="col-xs-4 col-sm-12 col-md-4 sec-3">
      <div class="jumbotron admission">
        <div class="row">
          {% include index/admission.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="row sub">

    <div class="col-xs-6 col-sm-12 col-md-6 sec-4">
      <div class="jumbotron">
          <div class="row">
            <div class="col-md-4 facilities">
              <h2>Facilities</h2>
                <ul class="fa-ul">
                  <li>
                    <i class="fa-li fa fa-star"></i>
                    Airconditioned classrooms
                  </li>
                  <li>
                    <i class="fa-li fa fa-laptop"></i>
                    Computer with internet connection
                  </li>
                  <li>
                    <i class="fa-li fa fa-book"></i>
                    Reading Areas
                  </li>
                  <li>
                    <i class="fa-li fa fa-child"></i>
                    Playgrounds
                  </li>
                </ul>
            </div>
            <div class="col-md-8 hidden-print">
              {% include index/facilities.html %}
            </div>

          </div>

        </div>
    </div>

    <div class="col-xs-6 col-sm-12 col-md-6 sec-5">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-4 activities">
            {% include index/activities.html %}
          </div>
          <div class="col-md-8 hidden-print">
            {% include index/facebook.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
