<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91761254-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>
  <body>
    {{ content }}
    <section style="background:#fdef3c;">
      <footer style="padding: 1.5em">
          <div class="pure-g">
            <div class="pure-u-1-3">
              <h3> <a href="https://cleverminds.ph"> Clever Minds Development Center </a> <br/>
                <small style="font-weight:normal; color: #666;"><!-- We nurture and support your child's growth and development. <br/> -->
                  Courses: Toddlers, Nursery, Pre-Kindergarten, Kindergarten <br/>
                  Summer Classes & Tutorial Services <!-- <br/>
                  Minimum number of students for maximum learning. Student-Teacher Ratio 6:1 -->
                </small>
              </h3>
            </div>

            <div class="pure-u-1-3" id="#contact">
              <address style="font-style:normal;">
                <abbr title="Address"><i class="fa fa-map-marker"></i></abbr> 352 Sitio Lote, Brgy. Lecheria, <br/> Calamba City, Laguna Philippines 4027<br/>
                <abbr title="Business Hours"><i class="fa fa-clock-o"></i></abbr> Monday - Friday, 9 AM to 6 PM<br/>
                <abbr title="Phone"><i class="fa fa-phone"></i></abbr> +63 (49) 545 9201
              </address>
            </div>

            <div class="pure-u-1-3" id="#contact">
              <section style="font-style:normal;">
                <abbr title="Website"><i class="fa fa-globe"></i></abbr> <a href="http://cleverminds.ph">cleverminds.ph</a><br/>
                <abbr title="Email"><i class="fa fa-envelope"></i></abbr> <a href="mailto:cmdc.ph@gmail.com">cmdc.ph@gmail.com</a><br/>
                <abbr title="facebook"><i class="facebook fa fa-facebook-square"></i></abbr> <a href="http://www.facebook.com/cmdcph" target="_blank">cmdcph</a>
              </section>
            </div>
          </div>

          <center class="pure-g" style="border-top:1px solid white;">
            <small class="pure-u-1" style="padding-top: 0.5em;">
              Clever Minds Development Center &copy; <a href="https://erikathea.com" style="color:#666;">erikathea.com 2012</a>
            </small>
            <small class="rss-subscribe pure-u-1">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></small>

        </center>
      </footer>
    </section>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/pure-min.css' }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ '/assets/css/grids-responsive-old-ie-min.css' }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ '/assets/css/grids-responsive-min.css' }}">
    <!--<![endif]-->

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
