<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{% if page.title %}{{ page.title | escape }} - {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>

    {% include head-meta.html %}

    <link rel="stylesheet" href="{{ '/assets/css/normalize.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/remedy.css' }}">
  </head>
  <body>
    <div class="content pure-g">
      <section class="panel pure-u-xl-3-24"></section>
      <section class="content pure-u-1 pure-u-xl-18-24">
        {{ content }}
      </section>
      <section class="panel pure-u-xl-3-24"></section>
    </div>

     <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/pure-min.css' }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ '/assets/css/grids-responsive-old-ie-min.css' }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{ '/assets/css/grids-responsive-min.css' }}">
    <!--<![endif]-->

    <link rel="stylesheet" href="{{ '/assets/css/main.css' }}">
    {% include footer-meta.html %}

  </body>
</html>
